[submodule "stesi/base_report_to_printer"]
	path = stesi/base_report_to_printer
	url = git@github.com:stesi/base_report_to_printer.git
	branch = main

[submodule "stesi/merge_sale_order"]
	path = stesi/merge_sale_order
	url = git@github.com:stesi/merge_sale_order.git
	branch = 14.0

[submodule "stesi/printer_zpl2"]
	path = stesi/printer_zpl2
	url = git@github.com:stesi/printer_zpl2.git
	branch = main

[submodule "stesi/stesi_listview_sticky_header"]
	path = stesi/stesi_listview_sticky_header
	url = git@github.com:stesi/stesi_listview_sticky_header.git
	branch = 14.0

[submodule "stesi/stesi_mrp"]
	path = stesi/stesi_mrp
	url = git@github.com:stesi/stesi_mrp.git
	branch = 14.0

[submodule "stesi/stesi_mrp_app"]
	path = stesi/stesi_mrp_app
	url = git@github.com:stesi/stesi_mrp_app.git
	branch = 14.0

[submodule "stesi/stesi_mrp_geco"]
	path = stesi/stesi_mrp_geco
	url = git@github.com:stesi/stesi_mrp_geco.git
	branch = main

[submodule "stesi/stesi_mrp_wo_subcontracting"]
	path = stesi/stesi_mrp_wo_subcontracting
	url = git@github.com:stesi/stesi_mrp_wo_subcontracting.git
	branch = 14.0

[submodule "stesi/stesi_sales"]
	path = stesi/stesi_sales
	url = git@github.com:stesi/stesi_sales.git
	branch = 14.0

[submodule "stesi/stesi_sequence_manager"]
	path = stesi/stesi_sequence_manager
	url = git@github.com:stesi/stesi_sequence_manager.git
	branch = 14.0

[submodule "stesi/stesi_sheet_full_width"]
	path = stesi/stesi_sheet_full_width
	url = git@github.com:stesi/stesi_sheet_full_width.git
	branch = 14.0

[submodule "stesi/stesi_so_from_mo"]
	path = stesi/stesi_so_from_mo
	url = git@github.com:stesi/stesi_so_from_mo.git
	branch = 14.0

[submodule "stesi/stesi_stock"]
	path = stesi/stesi_stock
	url = git@github.com:stesi/stesi_stock.git
	branch = 14.0

[submodule "stesi/stesi_web"]
	path = stesi/stesi_web
	url = git@github.com:stesi/stesi_web.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "stesi/base_partner_sequence"]
	path = stesi/base_partner_sequence
	url = git@github.com:stesi/base_partner_sequence.git
	branch = main

[submodule "stesi/merge_sale_order_geco"]
	path = stesi/merge_sale_order_geco
	url = git@github.com:stesi/merge_sale_order_geco.git
	branch = main

[submodule "stesi/odoo_email_cc_bcc"]
	path = stesi/odoo_email_cc_bcc
	url = git@github.com:stesi/odoo_email_cc_bcc.git
	branch = 14

[submodule "stesi/report_py3o"]
	path = stesi/report_py3o
	url = git@github.com:stesi/report_py3o.git
	branch = main

[submodule "stesi/stesi-mrp_py3o_reports"]
	path = stesi/stesi-mrp_py3o_reports
	url = git@github.com:stesi/stesi-mrp_py3o_reports.git
	branch = 14.0

[submodule "stesi/ks_list_view_manager"]
	path = stesi/ks_list_view_manager
	url = git@github.com:stesi/ks_list_view_manager.git
	branch = 14

[submodule "stesi/stesi_geco_subcontracting"]
	path = stesi/stesi_geco_subcontracting
	url = git@github.com:stesi/stesi_geco_subcontracting.git
	branch = main

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 14.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0

[submodule "stesi/stesi_accounting"]
	path = stesi/stesi_accounting
	url = git@github.com:stesi/stesi_accounting.git
	branch = 14.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 14.0

[submodule "stesi/stesi_utilities"]
	path = stesi/stesi_utilities
	url = git@github.com:stesi/stesi_utilities.git
	branch = 14.0

[submodule "OCA/intrastat-extrastat"]
	path = OCA/intrastat-extrastat
	url = git@github.com:OCA/intrastat-extrastat.git
	branch = 14.0

[submodule "ingegniamo/dashboard_ninja"]
	path = ingegniamo/dashboard_ninja
	url = git@github.com:ingegniamo/dashboard_ninja.git
	branch = 14.0
