[submodule "stesi/base_report_to_printer"]
	path = stesi/base_report_to_printer
	url = git@github.com:stesi/base_report_to_printer.git
	branch = main

[submodule "stesi/merge_sale_order"]
	path = stesi/merge_sale_order
	url = git@github.com:stesi/merge_sale_order.git
	branch = 14.0

[submodule "stesi/printer_zpl2"]
	path = stesi/printer_zpl2
	url = git@github.com:stesi/printer_zpl2.git
	branch = main

[submodule "stesi/stesi_listview_sticky_header"]
	path = stesi/stesi_listview_sticky_header
	url = git@github.com:stesi/stesi_listview_sticky_header.git
	branch = 14.0

[submodule "stesi/stesi_mrp"]
	path = stesi/stesi_mrp
	url = git@github.com:stesi/stesi_mrp.git
	branch = 14.0

[submodule "stesi/stesi_mrp_app"]
	path = stesi/stesi_mrp_app
	url = git@github.com:stesi/stesi_mrp_app.git
	branch = 14.0

[submodule "stesi/stesi_mrp_geco"]
	path = stesi/stesi_mrp_geco
	url = git@github.com:stesi/stesi_mrp_geco.git
	branch = main

[submodule "stesi/stesi_mrp_wo_subcontracting"]
	path = stesi/stesi_mrp_wo_subcontracting
	url = git@github.com:stesi/stesi_mrp_wo_subcontracting.git
	branch = 14.0

[submodule "stesi/stesi_sales"]
	path = stesi/stesi_sales
	url = git@github.com:stesi/stesi_sales.git
	branch = 14.0
